@import "typography";
@import "variables";
@import "bootstrap-variables";
@import "bootstrap-custom";
@import "mixins";

/////////////////////////////
//
// BANNER
//
/////////////////////////
#banner {
	padding-bottom:$grid-gutter-width;
}
#banner-main-col {
	padding-left:0;
	padding-right:0;
}
canvas {
	width:100%;
	height:auto;
	background-color: rgb(140,140,140);
	display:block;
}

#image-wrapper {
	position:relative;
	overflow:hidden;
	width:100%;
	height:auto;
	padding:0;//padding:15px 0 0px;//20px;
}

#canvas-wrapper {
	//border-left: 1px solid rgb(120,120,120);
	//border-right: 1px solid rgb(120,120,120);
}

#zoom-wrapper {
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
	
	&.active {
		overflow:scroll;
		//cursor:all-scroll;
	}
	#inner {
		
	}
}

#image-loader {
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
	text-align:center;
	background-color: rgba(0,0,0,.4);
	display:none;
	
	img {
		display:block;
		position:absolute;
		top:50%;
		left:50%;
		margin-left:-8px;
		margin-top:-8px;
	}
}
#banner-title-row {
	padding-top:10px;
	padding-bottom:45px;
}
#image-caption {
	font-size: .8em;
	text-align:right;
	color: rgb(80,80,80);
	padding:8px 0;
}

#title {
	font-style:italic;
	padding-top: 45px; //5px;//10px; 
}
#controls-wrapper {
	float:right;
	
	.btn {
		//float:right;
		font-size:20px;
		color: $black;
		&:hover {
			color:rgb(80,80,80);
		}
	}
}

/////////////////////////////
//
// MAIN
//
/////////////////////////

#main {
	//@include even-shadow;
	//background-color: rgb(230,230,230);
	//padding-bottom: 4em;
	border-top:1px solid $border-color;
}


.thumb-row {
	//border-top:1px solid $border-color;
	border-bottom:1px solid $border-color;
}

.thumb-column {
	padding-top: $grid-gutter-width / 2;
	padding-bottom: $grid-gutter-width / 2;
	//padding-left: $grid-gutter-width / 4;
	//padding-right: $grid-gutter-width / 4;
}

.thumb {
	width:100%;
	height:100px;
	position:relative;
	left:0; top:0;
	background-color:rgb(215,215,215);
	-webkit-box-shadow: -1px 6px 15px -2px  rgb(190,190,190) inset;
	-moz-box-shadow:    -1px 6px 15px -2px  rgb(190,190,190) inset;
	box-shadow:         -1px 6px 15px -2px  rgb(190,190,190) inset;
	border-radius: 2px;
	cursor:pointer;
	
	a {
		display:block;
		margin: 0 auto;
	}
	img {
		//margin:0 auto;
		opacity:.6;
	}
	&.hover-on {
		img {
			opacity:1;
		}
	}
}
.thumb-overlay {
	position:absolute;
	left:0;top:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.3);
	color:#fff;
	font-size:.8em;
	line-height:1em;
	display:none;
	border-radius:2px;
	
	.inner {
		padding:1em;
	}
}

/////////////////////////////
//
// FOOTER
//
/////////////////////////

#footer {
}

#footer-links-wrapper {
	padding-top: $grid-gutter-width;
	padding-bottom: $grid-gutter-width;
}

nav {
	font-size: .9em;
}

#contact-wrapper {}

#contact-me-btn {
	text-decoration: none;
	&:hover,
	&:active,
	&:visited { text-decoration: none; }
}

#contact-result {
	font-style: italic;
}

#contact-form {
	color: $black;
	
	.form-control {
		color: $black;
	}
	.btn {
		margin-top: 1em;
	}
	.row:last-child {
		margin-bottom: 2em;
	}
}
	
	
/*
@media only screen and (min-width: 481px) {

	// styles in 481up.scss
	@import "breakpoints/481up";

} // end of media query

@media only screen and (min-width: 768px) {

	// styles in 768up.scss
	@import "breakpoints/768up";

} 
@media only screen and (min-width: 1030px) {

	// styles in 1030up.scss
	@import "breakpoints/1030up";

} // end of media query

@media only screen and (min-width: 1240px) {

	// styles in 1240up.scss
	@import "breakpoints/1240up";

} // end of media query
*/